streamlit>=1.20.0
pillow
gTTS
whisper
pytesseract
opencv-python
numpy
torch
torchvision
torchaudio
ultralytics
easyocr
pandas
scikit-learn
textblob
nltk
transformers
sentence-transformers
faiss-cpu
pydub
librosa
soundfile
matplotlib
python-dotenv
ffmpeg-python
streamlit-audiorecorder
